$default-background-color: #fff;
$accent-color: #cd4631;
$default-color: #000000;
$Pewter-blue: #81adc8;
$alice-blue: #edf3f7;
$border-color: #e8e8e8;
$accent-text-color: #1a191e;
$accent-text-color-fade: #1a191e85;
$text-color-light: #1a191e80;
$primary-font: "Montserrat Alternates", sans-serif;
$primary-light: #f7f7f7;

// GREY COLORS

$davys-grey: #4d4d4d;

// Borde-radius

$border-radius-sm: 15px;

$border-radius-rm: 7px;
