@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  position: relative;
  &_wrapper {
    position: relative;

    .swirl-icon {
      position: absolute;
      right: 5rem;
      bottom: -5rem;
      z-index: 1;
      margin-top: -4rem;
      height: 10rem;
      width: 10rem;
      transform: translateX(-50%);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .header_content-boxes {
      position: absolute;
      bottom: -10rem;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 1200px;

      .content-box--wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 5rem;
        margin: 0 auto;
      }

      .content-box {
        flex: 1;
        height: 24rem;
        width: 100%;
      }
    }
  }

  &_content {
    .content-textbox {
      .content--btn {
        display: flex;
        align-items: center;
        gap: 2rem;
        .transparent-bg {
          font-size: 1.4rem;
          font-weight: 700;
          padding: 2rem 3.4rem;
        }

        .black-bg {
          padding: 2rem 3.4rem;
        }
      }
    }
  }
}
