@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.header {
  margin: 5rem 0 10rem 0;

  .header_wrapper {
    position: relative;
    .scribble-icon {
      position: absolute;
      left: 50%;
      bottom: -5rem;
      z-index: 1;
      margin-top: -4rem;
      height: 10rem;
      width: 10rem;
      transform: translateX(-50%);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .header_content {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;

    width: 100%;
    height: 100%;
    margin-top: -4rem;

    .content-icon {
      flex: 1;
      display: contents;
      width: 100%;
      position: absolute;
      align-items: end;

      @include tab-port {
        display: none;
      }
    }

    .content-icon.stars {
      position: absolute;
      right: 0;
      flex: 1;
      margin-left: 4rem;
      width: 100%;

      img {
        object-fit: contain;
        margin-right: 5rem;
      }
    }

    .content-icon.swirl {
      position: absolute;
      flex: 1;
      transform: translateX(-0%);
      left: 50%;
      width: 100%;
    }

    .content-textbox {
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      flex: 1;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;

      @include tab-port {
        position: unset;
        transform: none;
      }

      .span-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
      }

      .paragraph {
        width: 40%;
        margin: 0 auto;
        margin: 2rem 0;
        color: $davys-grey;

        @include small-phone {
          width: 90%;
        }
        @include medium-phone {
          width: 70%;
        }

        @include bg-desktop {
          width: 50%;
          font-size: 2.2rem;
        }
      }

      .black-bg {
        font-weight: 700;
        font-size: 1.4rem;
        margin: 4rem 0;
        border: none;
        letter-spacing: 0.5px;
        padding: 1.4rem 2.4rem;
        display: inline-block;

        box-shadow: $btn-shadow;
        color: $default-background-color;
        background-color: $default-color;
        border-radius: $border-radius-rm;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
      }
      .black-bg:hover {
        transform: translateY(-2px);
        box-shadow: $btn-shadow--hover;
      }

      .black-bg:active {
        transform: translateY(2px);
        box-shadow: $btn-shadow--clicked;
      }
    }
  }

  .header_image {
    .podcast {
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      gap: 2rem;
      width: 100%;

      @include tab-land--sm {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 4rem 3rem;
      }

      .podcast-card {
        position: relative;

        .podcast-image {
          height: 30rem;
          width: 100%;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: $border-radius-rm;
          }
        }

        .podcard {
          height: 30rem;
          width: 100%;

          img {
            height: 100%;
            width: 100%;
            border-radius: $border-radius-rm;
          }
        }
        // .podcast-image.podcard-2 {
        //   position: relative;
        // }
        // .podcast-image.podcard-3 {
        //   position: relative;
        // }
        // .podcast-image.podcard-4 {
        //   position: relative;
        // }
        // .podcast-image.podcard-5 {
        //   position: relative;
        // }

        .logos {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
          right: 2rem;
          top: 2rem;
          gap: 1.5rem;
        }

        .card-overlay {
          position: absolute;
          left: 1rem;
          bottom: 1rem;
          z-index: 2;

          .heading-tertiary {
            color: $Pewter-blue;
          }
        }
      }
    }
  }

  .header_logos {
    padding: 4rem 0;

    & > * {
      margin: 4rem 0;
    }

    .header_logos--wrapper {
      border-top: 1px solid $davys-grey;
      border-bottom: 1px solid $davys-grey;
    }

    .header_logos--content {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
      gap: 2rem;
      width: 100%;

      @include bg-desktop {
        justify-content: space-around;
      }

      @include phone {
        gap: 1rem;
      }

      .logo {
        @include tab-port {
          width: 12rem;
        }

        @include phone {
          width: 8rem;
        }

        img {
          @include tab-port {
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    .logo-text {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

// SECTION INSPIRED

.inspired {
  margin: 4rem 0 7rem 0;

  .inspired_wrapper {
    // position: relative;

    // .scribble-icon {
    //   position: absolute;
    //   left: 50%;
    //   bottom: -5rem;
    //   z-index: 1;
    //   margin-top: -4rem;
    //   height: 10rem;
    //   width: 10rem;
    //   transform: translateX(-50%);

    //   img {
    //     width: 100%;
    //     height: 100%;
    //   }
    // }
    .content {
      .heading-secondary {
        text-align: center;
        width: 70%;
        margin: 0 auto;

        @include phone {
          width: 90%;
        }
      }

      .thought-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 6rem 0;
        gap: 5rem;

        @include tab-port {
          display: flex;
          flex-direction: column;
          gap: 3rem;
        }
        .thought {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .paragraph {
            width: 70%;
            margin: 2rem auto;
            text-align: center;

            @include phone {
              width: 90%;
            }
          }
        }
      }
    }
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  border-radius: $border-radius-rm;
  background-color: $champagne-color;
  margin-top: 10rem;
  padding: 6rem 0;
  position: relative;

  .testimonial-text {
    .heading-tertiary {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 3rem;

      @include phone {
        width: 90%;
      }
    }
  }

  .testimonial-info {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    @include small-phone {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
    }

    .profile-info {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .profile-img {
        img {
          border-radius: 50%;
        }
      }
    }

    .job-info {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .testimonial-swirl {
    position: absolute;
    left: -5rem;
    bottom: 7rem;

    @include phone {
      left: -3rem;
      bottom: 5rem;
      height: 10rem;
      width: 10rem;
    }

    img {
      @include phone {
        height: 100%;
        width: 100%;
      }
    }
  }

  .testimonial-blackstar {
    position: absolute;
    top: -4rem;
    right: -5rem;

    @include phone {
      top: -3rem;
      right: -3rem;
      height: 10rem;
      width: 10rem;
    }

    img {
      @include phone {
        height: 100%;
        width: 100%;
      }
    }
  }
}
