@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.header {
  margin: 5rem 0 10rem 0;

  .header_wrapper {
    position: relative;
    .scribble-icon {
      position: absolute;
      left: 50%;
      bottom: -5rem;
      z-index: 1;
      margin-top: -4rem;
      height: 10rem;
      width: 10rem;
      transform: translateX(-50%);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .header_content {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;

    width: 100%;
    height: 100%;
    margin-top: -4rem;

    .content-icon {
      flex: 1;
      display: contents;
      width: 100%;
      position: absolute;
      align-items: end;

      @include tab-port {
        display: none;
      }
    }

    .content-icon.stars {
      position: absolute;
      right: 0;
      flex: 1;
      margin-left: 4rem;
      width: 100%;

      img {
        object-fit: contain;
        margin-right: 5rem;
      }
    }

    .content-icon.swirl {
      position: absolute;
      flex: 1;
      transform: translateX(-0%);
      left: 50%;
      width: 100%;
    }

    .content-textbox {
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      flex: 1;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;

      @include tab-port {
        position: unset;
        transform: none;
      }

      .span-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
      }

      .paragraph {
        width: 40%;
        margin: 0 auto;
        margin: 2rem 0;
        color: $davys-grey;

        @include small-phone {
          width: 90%;
        }
        @include medium-phone {
          width: 70%;
        }

        @include bg-desktop {
          width: 50%;
          font-size: 2.2rem;
        }
      }

      .black-bg {
        font-weight: 700;
        font-size: 1.4rem;
        margin: 4rem 0;
        border: none;
        letter-spacing: 0.5px;
        padding: 1.4rem 2.4rem;
        display: inline-block;

        box-shadow: $btn-shadow;
        color: $default-background-color;
        background-color: $default-color;
        border-radius: $border-radius-rm;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
      }
      .black-bg:hover {
        transform: translateY(-2px);
        box-shadow: $btn-shadow--hover;
      }

      .black-bg:active {
        transform: translateY(2px);
        box-shadow: $btn-shadow--clicked;
      }
    }
  }

  .header_image {
    .podcast {
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      gap: 2rem;
      width: 100%;

      @include tab-land--sm {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 4rem 3rem;
      }

      .podcast-card {
        position: relative;

        .podcast-image {
          height: 30rem;
          width: 100%;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: $border-radius-rm;
          }
        }

        .podcard {
          height: 30rem;
          width: 100%;

          img {
            height: 100%;
            width: 100%;
            border-radius: $border-radius-rm;
          }
        }
        // .podcast-image.podcard-2 {
        //   position: relative;
        // }
        // .podcast-image.podcard-3 {
        //   position: relative;
        // }
        // .podcast-image.podcard-4 {
        //   position: relative;
        // }
        // .podcast-image.podcard-5 {
        //   position: relative;
        // }

        .logos {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
          right: 2rem;
          top: 2rem;
          gap: 1.5rem;
        }

        .card-overlay {
          position: absolute;
          left: 1rem;
          bottom: 1rem;
          z-index: 2;

          .heading-tertiary {
            color: $Pewter-blue;
          }
        }
      }
    }
  }

  .header_logos {
    padding: 4rem 0;

    & > * {
      margin: 4rem 0;
    }

    .header_logos--wrapper {
      border-top: 1px solid $davys-grey;
      border-bottom: 1px solid $davys-grey;
    }

    .header_logos--content {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
      gap: 2rem;
      width: 100%;

      @include bg-desktop {
        justify-content: space-around;
      }

      @include phone {
        gap: 1rem;
      }

      .logo {
        @include tab-port {
          width: 12rem;
        }

        @include phone {
          width: 8rem;
        }

        img {
          @include tab-port {
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    .logo-text {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

// SECTION INSPIRED

.inspired {
  margin: 4rem 0 7rem 0;

  .inspired_wrapper {
    // position: relative;

    // .scribble-icon {
    //   position: absolute;
    //   left: 50%;
    //   bottom: -5rem;
    //   z-index: 1;
    //   margin-top: -4rem;
    //   height: 10rem;
    //   width: 10rem;
    //   transform: translateX(-50%);

    //   img {
    //     width: 100%;
    //     height: 100%;
    //   }
    // }
    .content {
      .heading-secondary {
        text-align: center;
        width: 70%;
        margin: 0 auto;

        @include phone {
          width: 90%;
        }
      }

      .thought-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 6rem 0;
        gap: 5rem;

        @include tab-port {
          display: flex;
          flex-direction: column;
          gap: 3rem;
        }
        .thought {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .paragraph {
            width: 70%;
            margin: 2rem auto;
            text-align: center;

            @include phone {
              width: 90%;
            }
          }
        }
      }
    }
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  border-radius: $border-radius-rm;
  background-color: $champagne-color;
  margin-top: 10rem;
  padding: 6rem 0;
  position: relative;

  .testimonial-text {
    .heading-primary {
      color: $accent-color;
    }
    .heading-tertiary {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 3rem;

      @include phone {
        width: 90%;
      }
    }
  }

  .testimonial-info {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    @include small-phone {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
    }

    .profile-info {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .profile-img {
        img {
          border-radius: 50%;
        }
      }

      .profile-name {
        .paragraph {
          font-weight: 500;
        }
      }
    }

    .job-info {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .job-title {
        .paragraph {
          font-weight: 700;
        }
      }
    }
  }

  .testimonial-swirl {
    position: absolute;
    left: -5rem;
    bottom: 7rem;

    @include phone {
      left: -3rem;
      bottom: 5rem;
      height: 10rem;
      width: 10rem;
    }

    img {
      @include phone {
        height: 100%;
        width: 100%;
      }
    }
  }

  .testimonial-blackstar {
    position: absolute;
    top: -4rem;
    right: -5rem;

    @include phone {
      top: -3rem;
      right: -3rem;
      height: 10rem;
      width: 10rem;
    }

    img {
      @include phone {
        height: 100%;
        width: 100%;
      }
    }
  }
}

// SECTION LISTENERS

.listeners {
  margin: 15rem 0 7rem 0;
  background-color: $alice-blue;

  .listeners_wrapper {
    position: relative;

    .scribble-icon {
      position: absolute;
      left: 50%;
      top: 0;
      z-index: 1;
      margin-top: -4rem;
      margin-bottom: 5rem;
      height: 10rem;
      width: 10rem;
      transform: translateX(-50%);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .scribble-icon--down {
      position: absolute;
      left: 50%;
      bottom: -5rem;
      z-index: 1;
      margin-top: -4rem;
      height: 10rem;
      width: 10rem;
      transform: translateX(-50%);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .listeners_content {
      padding: 8rem 0;

      position: relative;

      .sparkle-icon {
        position: absolute;

        top: 3rem;
        left: 15rem;

        @include tab-port {
          left: 0;
        }

        @include phone {
          height: 7rem;
          width: 7rem;
        }

        img {
          @include phone {
            height: 100%;
            width: 100%;
          }
        }
      }

      .textbox {
        margin-top: 4rem;
        .heading-secondary {
          text-align: center;
          width: 70%;
          margin: 0 auto;

          @include phone {
            width: 90%;
          }
        }

        .paragraph {
          width: 90%;
          margin: 0 auto;
          text-align: center;
          margin-top: 1rem;
        }
      }
    }
  }

  &_testimonial {
    padding: 4rem 0;
    position: relative;

    .scribble-icon--down {
      position: absolute;
      left: 50%;
      bottom: -5rem;
      z-index: 1;
      margin-top: -4rem;
      height: 10rem;
      width: 10rem;
      transform: translateX(-50%);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .testimonial--wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      @include tab-port {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
      }

      .testimony {
        padding: 3rem 2rem;
        border-radius: $border-radius-rm;
        background-color: $default-background-color;

        .testimony-textbox {
          .heading-primary {
            color: $accent-color;
          }
          .paragraph {
            width: 90%;
          }

          @include small-phone {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1.5rem;
          }
        }

        .testimonial--info {
          display: flex;
          gap: 1.5rem;
          margin-top: 2rem;

          @include small-phone {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
          }

          .profile-info {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .profile-img {
              img {
                border-radius: 50%;
              }
            }

            .profile-name {
              .paragraph {
                font-weight: 500;
              }
            }
          }

          .job-info {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .job-title {
              .paragraph {
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    .listeners_testimonial--icon {
      display: flex;
      align-items: center;
      gap: 2rem;

      margin: 3rem 0;

      img {
        padding: 2rem;
        object-fit: contain;

        @include medium-phone {
          padding: 1.5rem;
        }
      }

      .stroke-black {
        border: 1px solid $default-color;
        border-radius: 50%;
      }

      .stroke-accent {
        border: 1px solid $accent-color;
        border-radius: 50%;
      }
    }
  }
}

// SECTION MEMBERSHIP

.membership {
  .membership_wrapper {
    position: relative;

    // .scribble-icon {
    //   position: absolute;
    //   left: 50%;
    //   top: 0;
    //   z-index: 1;
    //   margin-top: -4rem;
    //   margin-bottom: 5rem;
    //   height: 10rem;
    //   width: 10rem;
    //   transform: translateX(-50%);

    //   img {
    //     width: 100%;
    //     height: 100%;
    //   }
    // }

    .membership-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: -2rem;
      margin-bottom: 7rem;

      a {
        text-align: center;
      }
    }

    .membership_content {
      padding: 8rem 0;

      position: relative;

      .sharp-edge--icon {
        position: absolute;
        top: 4rem;
        right: 25rem;

        @include tab-port {
          right: 5rem;
        }

        @include phone {
          height: 7rem;
          width: 7rem;
        }

        img {
          @include phone {
            height: 100%;
            width: 100%;
          }
        }
      }

      .textbox {
        margin-top: 4rem;
        .heading-secondary {
          text-align: center;
          width: 70%;
          margin: 0 auto;

          @include phone {
            width: 90%;
          }
        }

        .paragraph {
          width: 90%;
          margin: 0 auto;
          text-align: center;
          margin-top: 1rem;
        }
      }
    }
  }

  &_benefit {
    .membership_benefit--wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem;
      align-items: center;
      margin: 4rem 0;

      @include tab-port {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
      }
      @include phone {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
      }

      .benefit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 3rem;
        margin-bottom: 3rem;

        .benefit-text {
          .paragraph {
            width: 90%;
            margin: 1.4rem auto;

            @include bg-desktop {
              width: 70%;
            }
          }
        }
      }
    }
  }
}

// SECTION EPISODE

.episode {
  margin: 5rem 0 0rem 0;
  background-color: $champagne-color;

  .episode_wrapper {
    position: relative;
    .scribble-icon {
      position: absolute;
      left: 50%;
      top: 0;
      z-index: 1;
      margin-top: -4rem;
      margin-bottom: 5rem;
      height: 10rem;
      width: 10rem;
      transform: translateX(-50%);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .episode-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: -2rem;
      margin-bottom: 7rem;

      a {
        text-align: center;
      }
    }
  }

  &_content {
    padding: 10rem 0 5rem 0;
    .textbox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 1rem;
    }
  }

  &_container {
    position: relative;

    .episodes-icon {
      @include tab-port {
        right: 5rem;
        display: none;
      }

      @include phone {
        height: 7rem;
        width: 7rem;
      }

      img {
        position: absolute;
        top: -15rem;
        right: -10rem;
        height: 19rem;
        width: 15rem;

        @include tab-land {
          top: -15rem;
          right: -10rem;
          height: 19rem;
          width: 15rem;
        }

        @include phone {
          height: 100%;
          width: 100%;
        }
      }
    }

    .main-episodes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      padding-bottom: 7rem;

      @include tab-port {
        grid-template-columns: repeat(1, 1fr);

        gap: 3rem;
      }

      .episodes {
        padding: 2rem;
        border: 2px solid $default-color;
        border-radius: $border-radius-sm;
        background-color: $default-background-color;

        .episodes-heading {
          display: flex;
          align-items: center;
          gap: 1.5rem;

          @include medium-phone {
            flex-direction: column;
            text-align: center;
            margin-bottom: 1.5rem;
          }

          .episodes-textbox {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include medium-phone {
              margin-bottom: 2rem;
            }

            .heading-tertiary {
              margin-bottom: 1.4rem;
            }

            .paragraph.em {
              width: 90%;

              @include medium-phone {
                margin: 0 auto;
              }
            }
          }
        }

        .episodes-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 1.5rem 0 0 0;

          @include medium-phone {
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }

          .episodes-btn {
            display: flex;
            align-items: center;
            gap: 1rem;
          }

          .episodes-profile {
            display: flex;
            align-items: center;
            gap: 1.4rem;

            @include medium-phone {
              justify-content: space-between;
              margin-top: 1rem;
              width: 100%;
            }

            .paragraph.rm {
              font-weight: 700;
            }

            .profiles {
              display: flex;
              align-items: center;
              gap: -1rem;

              .margin-left {
                margin-left: -1.5rem;
                border: 2px solid $default-background-color;
              }

              img {
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
              }
            }
          }

          a {
            color: $davys-grey;

            &:hover {
              color: $default-background-color;
            }
          }
        }
      }
      .episodes.box-shadow {
        box-shadow: $drop-shadow;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
      }

      .episodes.box-shadow:hover {
        transform: translateY(-3px);
        box-shadow: $drop-shadow--hover;
      }

      .episodes.box-shadow:active {
        transform: translateY(2.5px);
        box-shadow: $drop-shadow--clicked;
      }
    }
  }
}

// SECTION SPONSOR

.sponsor {
  &_wrapper {
    margin-bottom: 15rem;
    position: relative;
    .scribble-icon {
      position: absolute;
      left: 50%;
      top: 0;
      z-index: 1;
      margin-top: -4rem;
      margin-bottom: 5rem;
      height: 10rem;
      width: 10rem;
      transform: translateX(-50%);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &_content {
    position: relative;
    padding: 10rem 0 5rem 0;

    .sponsor-icon {
      position: absolute;

      top: 5rem;
      left: 20%;

      @include tab-land--sm {
        left: 15%;
      }

      @include tab-port {
        left: 5rem;
      }

      @include phone {
        height: 7rem;
        width: 7rem;
      }

      @include small-phone {
        left: 1.5rem;
      }

      img {
        @include phone {
          height: 100%;
          width: 100%;
        }
      }
    }

    .textbox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 1rem;
      margin-top: 3rem;
    }
  }

  &_subcription {
    position: relative;
    z-index: 110;

    .sponsor_subcription--swirl {
      position: absolute;
      left: -5rem;
      bottom: -3.5rem;
      z-index: 0;

      @include phone {
        left: -3rem;
        bottom: 5rem;
        height: 10rem;
        width: 10rem;
      }

      img {
        z-index: 0;
        @include phone {
          height: 100%;
          width: 100%;
        }
      }
    }

    .sponsor_subcription--blackstar {
      position: absolute;
      top: -6rem;
      right: -6rem;
      z-index: 0;

      @include phone {
        top: -3rem;
        right: -3rem;
        height: 10rem;
        width: 10rem;
      }

      img {
        z-index: 0;
        @include phone {
          height: 100%;
          width: 100%;
        }
      }
    }

    .sponsor_subcription--wrapper {
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
      z-index: 101;

      @include tab-port {
        grid-template-columns: repeat(2, 1fr);
      }
      @include phone {
        grid-template-columns: repeat(1, 1fr);
      }

      .subcription-plan {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .plan {
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 3rem;
          border: 1.5px solid $default-color;
          border-radius: $border-radius-rm;
          padding: 2rem 4rem;
          height: 35rem;
          z-index: 101;
          background-color: rgba(255, 255, 255, 1);

          @include medium-phone {
            height: 30rem;
          }

          @include small-phone {
            padding: 1.5rem 2.4rem;
          }

          .plan-textbox {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .paragraph.rm {
              width: 60%;

              @include medium-phone {
                width: 90%;
              }
            }

            .text-wrap {
              display: flex;
              align-items: center;
              justify-content: space-between;

              a {
                padding: 0.6rem;
                font-weight: 700;
                background-color: $accent-color;
                color: $default-background-color;
                border-radius: $border-radius-rm;
              }
            }
          }

          .plan-info {
            flex: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .plan-btn {
              a {
                margin: 0;
              }
            }

            .plan-price {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;

              .plan-amount {
                font-size: 1.4rem;
                font-weight: 700;
              }

              .plan-date {
                font-size: 1.4rem;
                font-weight: 700;
                color: $default-color;
              }
            }
          }
        }

        .plan.accent-bg {
          background-color: $champagne-color;
          border: 1.5px solid $accent-color;
        }

        .discount {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1.5rem;
          border: 1.5px solid $default-color;
          border-radius: $border-radius-rm;
          padding: 2rem 4rem;
          height: 35rem;
          z-index: 101;
          background-color: rgba(255, 255, 255, 1);

          @include medium-phone {
            height: 30rem;
          }

          .paragraph.rm {
            font-weight: 700;
          }

          .discount-list {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .paragraph.md {
              font-weight: 500;
            }

            .bold {
              font-size: 700;
            }
          }
        }

        .discount.accent-bg {
          background-color: $champagne-color;
          border: 1.5px solid $accent-color;
        }
      }
    }
  }
}

// SECTION ARTICLE

.article {
  &_wrapper {
    position: relative;
    .scribble-icon {
      position: absolute;
      left: 50%;
      top: 0;
      z-index: 1;
      margin-top: -4rem;
      margin-bottom: 5rem;
      height: 10rem;
      width: 10rem;
      transform: translateX(-50%);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .article_btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 7rem 0;
    }
  }

  &_heading {
    padding: 10rem 0 5rem 0;

    .textbox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 1rem;
      margin-top: 3rem;
    }
  }

  &_container {
    position: relative;
    z-index: 120;

    .article-blackstar--icon {
      position: absolute;
      left: -8rem;
      top: -5rem;
      z-index: 10;
    }

    .sharp-edge--icon {
      position: absolute;
      bottom: -10rem;
      right: -8rem;
      z-index: 10;

      @include tab-port {
        display: none;
      }
    }
  }

  &_container--wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
    z-index: 100;

    @include tab-land--sm {
      grid-template-columns: repeat(1, 1fr);
      gap: 5rem;
    }

    .article_card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
      border: 1.5px solid #000;
      border-radius: $border-radius-sm;
      background-color: rgba(255, 255, 255, 1);

      .article_img {
        height: 35rem;
        width: 100%;
        margin-bottom: 5rem;

        @include small-phone {
          height: 30rem;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: $border-radius-rm;
        }
      }

      .article_textbox {
        .heading-tertiary {
          margin: 2rem 0;
        }

        .paragraph.rm {
          width: 90%;

          @include sm-desktop {
            width: 70%;
          }

          @include medium-phone {
            width: 90%;
          }
        }
      }

      .article_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5rem;
        border-top: 1px solid #000;

        @include small-phone {
          flex-direction: column;
        }

        .article-btn {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-top: 3rem;
        }

        .article-date {
          display: flex;
          align-items: center;
          margin-top: 3rem;
        }
      }
    }
  }
}

// SECTION APP

.app {
  margin: 4rem 0 7rem 0;
  background-color: $alice-blue;
  &_wrapper {
    position: relative;
    .scribble-icon {
      position: absolute;
      left: 50%;
      top: 0;
      z-index: 1;
      margin-top: -4rem;
      margin-bottom: 5rem;
      height: 10rem;
      width: 10rem;
      transform: translateX(-50%);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &_content-wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;

    width: 100%;
    height: 100%;
    margin-top: -4rem;
    padding-top: 5rem;

    .content-icon {
      flex: 1;
      display: contents;
      width: 100%;
      position: absolute;
      align-items: end;

      @include tab-port {
        display: none;
      }
    }

    .trending-wrap {
      position: relative;
      display: flex;
      align-self: flex-end;

      .sparkle-icon {
        position: absolute;
        top: -4rem;
        left: 2rem;

        @include tab-port {
          left: 5rem;
        }

        @include phone {
          height: 7rem;
          width: 7rem;
        }

        img {
          @include phone {
            height: 100%;
            width: 100%;
          }
        }
      }

      .sparkle-small {
        position: absolute;

        top: -6rem;
        left: 10rem;
        z-index: 1;
      }

      .content-icon.trending {
        position: absolute;
        right: 0;
        bottom: 0;
        flex: 1;
        margin-left: 4rem;
        width: 100%;

        img {
          object-fit: contain;
          margin-right: 5rem;
        }
      }
    }

    .playlist-wrap {
      position: relative;
      z-index: 110;

      .sketch-icon {
        position: absolute;
        right: 12rem;
        bottom: 0;

        img {
          z-index: 10;
        }
      }

      .content-icon.playlist {
        position: absolute;
        flex: 1;
        transform: translateX(-0%);
        left: 50%;
        width: 100%;

        img {
          z-index: 50;
          position: relative;
        }
      }
    }
  }

  .app_content {
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    flex: 1;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;

    @include tab-port {
      position: unset;
      transform: none;
    }

    .textbox {
      margin-top: 4rem;

      .paragraph.sm {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        margin-top: 1rem;
        padding: 0.5rem;
        border: 1.5px solid $accent-color;
        border-radius: $border-radius-rm;
        width: fit-content;
      }

      .heading-secondary {
        text-align: center;
        width: 70%;
        margin: 0 auto;

        @include phone {
          width: 90%;
        }
      }

      .paragraph {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        margin-top: 1rem;
      }
    }

    .btn-wrap {
      position: relative;
      margin-top: 10rem;

      .sparkle-icon {
        position: absolute;

        top: -1.4rem;
        left: 20rem;

        @include tab-port {
          left: 5rem;
        }

        @include phone {
          height: 7rem;
          width: 7rem;
        }

        img {
          @include phone {
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    .recommeded-apps {
      .app-logos {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-top: 1rem;
      }
    }
  }
}
